

.contenedorCarrito {
    display: flex;
    flex-direction: column;
}

.contenedorProduct {
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 8px 0px;
    border-radius: 10px;
    padding: 18px 10px 10px 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorProduct img {
    width: 130px;
    height: 150px;
    margin-right: 5px;
    border-radius: 5px;

}

.productInfo {
    padding: 10px;
}

.productInfo p {
    text-decoration: none;
    color: white;
}

.contenedorBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.vacCarrito {
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.vacCarrito:hover {
    text-decoration: underline;
    /* background-color: #a82d48; */
}

.btnFinalCompra {
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    background-color: #2d1f59;
    color: white;
    transition: all 0.2s;
    text-decoration: none;
}

.btnFinalCompra:hover {
    background-color: #202f42;
}

.btnMasMenos {
    margin-bottom: 30px;
    margin-right: 20px;
}

.btnSumar {
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 7px;
    transition: all 0.2s;
    margin-right: 20px;
    background-color: #7386e6;
}

.btnSumar:hover {
    background-color: #242d59;
}

.btnRestar {
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 7px;
    transition: all 0.2s;
    margin-right: 20px;
    background-color: #e66e65;
}

.btnRestar:hover {
    background-color: #a82d48;
}

.total {
    font-size: 18px; 
    font-weight: 700; 
    color: white;
    display: flex; 
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .contenedorProduct {
        padding: 40px 0px 10px 10px;
        width: 300px;
        height: 150px;
        justify-content: space-between;
        align-items: center;
    }

    .contenedorProduct img {
        margin-right: 5px;
        margin-bottom: 30px;
        margin-left: 4px;
        width: 100px;
        height: 120px;
    }

    .productInfo {
        padding: 5px 5px 25px 10px;
    }

    .productInfo p {
        font-size: 13px;
    }

    .total {
        display: block; 
    }

    .btnMasMenos {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

    .btnSumar {
        margin-right: 0px;
        padding: 2px 5px 2px 5px;
    }

    .btnRestar {
        margin-right: 0px;
        margin-top: 10px;
        padding: 2px 5px 2px 5px;    
    }

    .contenedorCarrito {
        align-items: center;
    }
    
}