

.contenedorCarrito {
    display: flex;
    flex-direction: column;
}

.contenedorProduct {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;

}

.contenedorProduct img {
    width: 80px;
    height: 90px;
}

.productInfo {
    padding: 10px;
}

.productInfo p {
    text-decoration: none;
    color: white;
}

.vacCarrito {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.vacCarrito button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.vacCarrito button:hover {
    background-color: #a82d48;
}

.btnFinalCompra {
    margin-left: 20px;
    background-color: #2d1f59;
    color: white;
    padding: 5px 10px 5px 10px;
}
