* {
    font-family: sans-serif;
}

.container {
    min-height: 200px;
    margin-bottom: 40px;
    background: linear-gradient(#f0dde9,#ffffff);
}

.tituloProds {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 221, 233);
    margin-bottom: 20px;
    color: black;
    padding: 5px;
    font-family: PlayFair;
    font-weight: 100;
    
}

img {
    width: 100%;
    margin-bottom: 10px;
}

.containerProd {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prod {
    background-color: white;
    transition: all 0.2s;   
    width: 270px; 
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    align-items: center;
    box-shadow: 0px 0px 0.7px 0px;
}

.prod:hover {
    box-shadow: 0px 0px 18px 0px;
}

.prod p {
    margin-top: 7px;
}

.nombre {
    font-size: 20px;
}

.detalle {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 15px;
}


@media screen and (max-width: 768px) {
    .prod {
        width: 250px;
    }

    .nombre {
        font-size: 18px;
    }
}