.contactanosContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.navContainer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 221, 233);
    width: 100%;
    z-index: 1;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    border-radius: 10px;
    min-height: 200px;
    padding: 10px;
    
}

.form div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form div input {
    padding: 5px;
}

.btnEnviar {
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.btnEnviar:hover {
    background-color: darkorchid;
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info div h2{
    color: darkorchid;
    font-size: 40px;
}
.red{
    display: flex;
    align-items: center;
    margin-top: 5px;
    
}

.red p{
    font-size: larger;
    margin-left: 10px;
    margin-top: 15px;
}

.botonVolver{
    background-color: darkorchid;
    padding: 10px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    
}

.navInfo {
    display: flex;
    margin-right: 20px;
}

.links {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Cinzel;
}

.links:hover {
    text-decoration: underline;
}

.btnCarrito {
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgb(240, 221, 233);
    font-family: Cinzel;
    font-weight: 700;
}

.btnCarrito:hover {
    text-decoration: underline;
}


.navTitle {
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.navTitle img {
    height: 25px;
    margin-top: 10px;
    width: 25px;
}

@media screen and (max-width: 768px) {
    .contactanosContainer {
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
    }

    .form {
        margin-top: 20px;
        width: 100%;
    }

    .navTitle {
        margin-left: 5px;
    }

    .info div h2 {
        font-size: 33px;
        margin-bottom: 20px;
    }

    .red {
        margin-top: 0px;
        align-items: center;
    }

    .red div {
        margin-bottom: 12px;
    }

    .red p {
        margin-top: 5px;
    }

    .botonVolver {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
}