.proximo{
    /* background-color: #e3b8d3; */
    background-color: #e3b8d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 100%;
}
.proximo h3{
    font-size: 35px;
    font-weight: 100;
    font-family: PlayFair;
    border-bottom: 1px solid black;
}

.container {
    padding: 20px 100px 20px 100px;
    background: linear-gradient(#e3b8d3, #ffff)
}

.card {
    display: flex;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
}

.card p {
    padding: 50px;
}

.contImg {
    display: flex;
}

.img {
    height: 500px;
    width: 350px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.imgChica {
    height: 250px; 
    width: 250px;
    margin-bottom: 0px; 
    padding: 5px; 
    border-radius: 10px;
}

.contImgChica {
    display: flex;
    flex-direction: column;
}

.btnAgregar {
    border: none;
    padding: 7px 15px 7px 15px;
    background-color: rgb(180, 180, 180);
    border-radius: 30px;
    color: black;
    transition: all 0.2s;
}

.btnAgregar:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .proximo h3 {
        font-size: 25px;
    }

    .container {
        padding: 10px;
    }

    .card {
        flex-direction: column;
    }

    .img {
        height: 390px;
        width: 100%;
    }

    .contImg {
        flex-direction: column;
    }

    .contImgChica {
        flex-direction: row;
    }

    .imgChica {
        height: 200px;
        width: 200px;
    }
}