

.navContainer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 221, 233);
    width: 100%;
    z-index: 1;
}

.navTitle {
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.navTitle img {
    height: 25px;
    margin-top: 10px;
    width: 25px;
}

.contenedorCompra {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contenedorForm {
    width: 550px;
    padding: 20px;
    margin-bottom: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.campo input {
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
}

.btnCompra {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: none;
}

.contenedorCarrito {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 550px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-bottom: 30px;
    background: linear-gradient(#f0dde9,#ffff)
}

.title h2 {
    font-family: PlayFair;
    border-bottom: 1px solid black;
    font-weight: 100;
    margin-left: 7px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .contenedorCompra {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .contenedorCarrito {
        width: 340px;
        border-radius: 10px;
    }

    .contenedorForm {
        width: 340px;
    }
    
}