* {
    padding: 0;
    margin: 0;
}

.navContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 221, 233);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navInfo {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.links {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Cinzel;
}

.links:hover {
    text-decoration: underline;
}

.btnCarrito {
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgb(240, 221, 233);
    font-family: Cinzel;
    font-weight: 700;
}

.btnCarrito:hover {
    text-decoration: underline;
}

.navTitle {
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
}

.inicio {
    background-image: url("/src/img/img_fondo.jpg");
    height: 650px;
    width: 100%;
    background-size: cover;
}

.titleContainer {
    position: absolute;
    left: 60%;
    top: 50%;
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.titleContainer h1{
    font-size: 80px;
    font-weight: 100;
}
.titleContainer p{
    font-family: PlayFair;
    font-weight: 300;
}
.verMas {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 30px;
    left: 75%;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 15px;
}

.verMas:hover {
    background-color: rgb(207, 138, 192);
    border-color: rgb(207, 138, 192) ;
    color: #ffffff;
}

.containerCarrito {
    background-color: #678491;
    width: 85%;
    max-height: 85%;
    overflow-y: auto;
    border-radius: 10px;
    margin: auto;
    border: 2px solid #363636;
}

.carritoTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 100;
}


.btnVaciarCarrito {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
}

.btnVaciarCarrito:hover {
    background-color: cadetblue;
}
