.footercontainer{
    background-color: #e6d7c8;
    min-height: 215px;
    width: 100%;
   
}

.footerContent{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #1a001a;
    margin-bottom: 40px;
}

.contactInfo {
    width: 20%;
}

.contactInfo h4 {
    border-bottom: 2px solid #ab8a5e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #c96fa8;
}

.socialLinks h4 {
    border-bottom: 2px solid #ab8a5e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #c96fa8;
}

.siteLinks div {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.siteLinks h4 {
    border-bottom: 2px solid #ab8a5e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #c96fa8;
}

.btnFooter {
    background: none;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.btnFooter:hover {
    border: 1px solid black;
}

.ig {
    text-decoration: none;
    color: black; 
    margin-left: 5px; 
    font-size: 18px;
}

.num {
    text-decoration: none;
    color: black; 
    margin-left: 5px; 
    font-size: 17px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: black;
}

@media screen and (max-width: 768px) {
    .footerContent {
        flex-direction: column;
    }

    .footerContent div {
        margin-top: 40px;
    }

    .contactInfo {
        width: 100%;
    }

    .ig{
        font-size: 15px;
    }

    .siteLinks div {
       flex-direction: row;
       justify-content: flex-start;
    }

    .btnFooter {
        margin-right: 10px;
    }
}