
.navContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 221, 233);
    width: 100%;
    position: fixed;
    z-index: 1;
}


.navTitle {
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.navTitle img {
    height: 25px;
    margin-top: 10px;
    width: 25px;
}

.navInfo {
    display: flex;
    margin-right: 20px;
}

.links {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Cinzel;
}

.links:hover {
    text-decoration: underline;
}

.btnCarrito {
    margin-right: 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    background-color: rgb(240, 221, 233);
    font-family: Cinzel;
    font-weight: 700;
}

.btnCarrito:hover {
    text-decoration: underline;
}

.contenedorProducto {
    margin-left: 40px;
    padding-top: 100px;
}

.producto {
    display: flex;
    justify-content: flex-start;
}

.producto img {
    height: 500px;
    width: 400px;
}

.productoInfo {
    margin-left: 50px;
}

.botonCarrito {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(207, 138, 192);
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.2s;
}

.botonCarrito:hover {
    background-color: rgb(207, 138, 192);
}

.containerCarrito {
    background-color: #baabb4;
    width: 85%;
    max-height: 85%;
    overflow-y: auto;
    border-radius: 10px;
    margin: auto;
}

.carritoTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 100;
}

.botones {
    display: flex;
    align-items: center;
}

.btnMasMenos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}

.btnSumar {
    margin-bottom: 4px;
    width: 20px;
    height: 20px;
    border: none;
    border: 1px solid grey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.btnSumar:hover {
    background-color: cornflowerblue;
}

.btnRestar {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border: none;
    border: 1px solid grey;
    border-radius: 3px;
    transition: all 0.2s;
}

.btnRestar:hover {
    background-color: crimson;
}
